"*":
  "Optional Rule":
    prefix: "opt"
    body: "<${1:rule-name}> ::= <${1:rule-name}> | \"\""
  "Recursive Rule":
    prefix: "rec"
    body: "<${1:recursive-rule}> ::= <${2:rule}> | <${2:rule}> <${1:recursive-rule}>"
  Rule:
    prefix: "rule"
    body: "<${1:rule-name}> ::= ${2:expression}"
