fileTypes: ["src"]
name: "BNF"
patterns: [
  {
    name: 'derivation-rule'
    match: '^\\s*(<\\w+>)\\s*(::=)\\s*(.*)$'
    captures:
      '1':
        patterns: [
          include: "#rule-name"
        ]
      '2':
        name: 'keyword.operator.assignment.bnf'
      '3':
        name: 'expression'
        patterns: [
          {include: "#rule-name"}
          {
            begin: '"'
            end: '"'
            name: "string.quoted.double.bnf"
          }
          {
            begin: "'"
            end: "'"
            name: "string.quoted.single.bnf"
          }
          {
            match: '\\|'
            name: 'keyword.operator.choice.bnf'
          }
        ]
  }
]
repository:
  "rule-name":
    match: "(<)(.*?)(>)"
    captures:
      "1":
        name: "punctuation.rule-name.start.bnf"
      "2":
        name: "constant.other.symbol.bnf"
      "3":
        name: "punctuation.rule-name.end.bnf"
scope: "text.bnf"
scopeName: "text.bnf"
